@font-face {
    font-family: Cinzel;
    src: url(./fonts/Cinzel.ttf);
}

@font-face {
    font-family: Cinzel-Decorative;
    src: url(./fonts/CinzelDecorative.ttf);
}

body,
html {
    min-height: 100vh;
}

.navbar-brand {
    font-family: Cinzel;
}

.nav-link {
    font-family: Cinzel-Decorative;
}
