@font-face {
    font-family: Cinzel;
    src: url(./fonts/Cinzel.ttf);
}

@font-face {
    font-family: Cinzel-Decorative;
    src: url(./fonts/CinzelDecorative.ttf);
}

body,
html {
    min-height: 100vh;
}

body {
    padding-bottom: 8vh;
}

.navbar-brand {
    font-family: Cinzel-Decorative;
}

.nav-link {
    font-family: Cinzel;
}

.card {
    width: 15vw;
}

img.book {
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    border-radius: 10px;
}

@media only screen and (max-width: 2800px) {
    .card {
        width: 20vw;
    }
}

@media only screen and (max-width: 1800px) {
    .card {
        width: 30vw;
    }
}

@media only screen and (max-width: 1400px) {
    .card {
        width: 40vw;
    }
}

@media only screen and (max-width: 1000px) {
    .card {
        width: 50vw;
    }
    img.book {
        padding-left: unset;
        padding-right: unset;
        padding-top: unset;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: 80vw;
    }
}
